

<div class="ui   segment" style="background: rgba(87, 136, 160, 0.63);">
  <div class="ui grid">
     <div class="thirteen wide column"></div>
        <div class="three wide column">
          <div class="ui buttons">
            <button class="ui button instagram" {{action "getLogin"}}>Login</button>
            <div class="or"></div>
            <button class="ui  linkedin button" {{action "getRegister"}}>Sign Up</button>
          </div>
        </div>
    </div>
</div>

   <center>
    <div class="ui icon input focus" style="width: 40%;
    margin-top: 15%;">
       <input type="text" placeholder="Search...">
      <i class="inverted circular search link icon"></i>
    </div>
  </center>














  <div class="ui modal tiny"  id="login">
        <i class="close icon"></i>
        <div class="header">
          Log-in to your account 
        </div>



         <div class="ui middle aligned center aligned grid">
              <div class="column">
               
                      <form class="ui large form">
                        <div class="ui stacked segment">
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="mail  icon"></i>
                              <input type="text" name="email" placeholder="E-mail address">
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="lock icon"></i>
                              <input type="password" name="password" placeholder="Password">
                            </div>
                          </div>
                          <div class="ui fluid large instagram submit button">Login</div>
                        </div>
                      </form>
              
              </div>
        </div>

  </div>


   <div class="ui modal tiny" id="signup">
        <i class="close icon"></i>
        <div class="header">
          Sign Up
        </div>



         <div class="ui middle aligned center aligned grid">
              <div class="column">
               
                      <form class="ui large form">
                        <div class="ui stacked segment">
                          
                         <div class="two fields">
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="user icon"></i>
                              <input type="text" name="email" placeholder="First Name">
                            </div>
                          </div>
                           <div class="field">
                            <div class="ui left icon input">
                             <input type="text" name="email" placeholder="Last Name">
                            </div>
                          </div>

                          </div>

                          <div class="field">
                            <div class="ui left icon input">
                              <i class="mail icon"></i>
                              <input type="text" name="email" placeholder="E-mail address">
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="call icon"></i>
                              <input type="text" name="email" placeholder="Phone Number">
                            </div>
                          </div>

                          <div class="field">
                            <div class="ui left icon input">
                              <i class="lock icon"></i>
                              <input type="password" name="password" placeholder="Password">
                            </div>
                          </div>



                          <div class="ui fluid large instagram submit button">Sign Up</div>
                        </div>
                      </form>
              
              </div>
        </div>

  </div>
