

<!-- Headr Contents -->

<div class="ui   segment" style="background: rgba(87, 136, 160, 0.63);">
  <div class="ui grid">
     <div class="thirteen wide column"></div>
        <div class="three wide column">
          <div class="ui buttons">
            <button class="ui button instagram" {{action "getLogin"}}>Login</button>
            <div class="or"></div>
            <button class="ui  linkedin button" {{action "getRegister"}}>Sign Up</button>
          </div>
        </div>
    </div>
</div>


<!-- Search Input Box -->

<center>
    <div class="ui icon input focus" style="width: 40%;
    margin-top: 15%;">
       <input type="text" placeholder="Search...">
      <i class="inverted circular search link icon"></i>
    </div>
</center>


 
