








<div id="home">



<div class="ui grid">
  <div class="one wide column"></div>
  <div class="fourteen wide column">



<form class="ui form" style="width:60%; margin-left:20%; margin-top:20vh;">
<br><br>
<div class="ui  column grid">
  <div class="column">
    <div class="ui fluid image">
      <div class="ui black ribbon label">
       <i class="industry icon"></i> Create Company
      </div>
    </div>
  </div>
</div>  
<br><br>
 
 

  <div class="field">
    <label>Company Name</label>
    <input type="text" name="cname" placeholder="Company Name">
  </div> 





 <div class="field">
      <label>Company Type</label>
      <div class="ui fluid multiple search selection dropdown">
            <input type="hidden" name="ctype">
            <i class="dropdown icon" ></i>
            <div class="default text">Company Type</div>
                <div class="menu">
                <div class="item" data-value="c1">Software</div>
                 <div class="item" data-value="c2">Hardware</div>
                  <div class="item" data-value="c3">Company Type 3</div>
                </div>
             </div>
            </div>


 <div class="field">
      <label>Product Type</label>
      <div class="ui fluid multiple search selection dropdown">
            <input type="hidden" name="ptype">
            <i class="dropdown icon" ></i>
            <div class="default text">Product Type</div>
                <div class="menu">
                <div class="item" data-value="p1">Type1</div>
                 <div class="item" data-value="p2">Type2</div>
                  <div class="item" data-value="p3">Type3 Type 3</div>
                </div>
          </div>
</div>

  <div class="field">
    <label>Establish year</label>
    <input type="number" name="eyear" min="1" placeholder="Year">
  </div>

<div class="two fields">
  
  <div class="field">
    <label>Primary Contact</label>
    <input type="text" name="contact" placeholder="Contact">
  </div>

  <div class="field">
    <label>Email address</label>
    <input type="text" name="email" placeholder="Email">
  </div>

</div>



<div class="field">
    <label>Company web url</label>
    <input type="text" name="web" placeholder="Email">
  
</div>

<div class="field">
    <label>Company address</label>
    <textarea rows="2" name="caddress"></textarea>
 
</div>


<div class="field">
    <label>Requirements</label>
    <textarea rows="2" name="crequirement"></textarea>
 
</div>


<div class="field">
    <label>Specialties</label>
   <textarea rows="2" name="specialties"></textarea>
 
</div>

<div class="field">
    <label>Description</label>
    <textarea rows="2" name="description"></textarea>
  
</div>



 <button class="ui button submit-button" type="submit" >Submit</button>

<div class="ui error message"></div>


</form>




  </div>
   <div class="one wide column"></div>
</div>
     



</div>
