<div class="" style=" margin-top: 25vh; display:flex; align-items:center">


<form class="ui form" style="width:60%; margin-left:20%;">
  
  <div class="field">
    <label>Company Name</label>
    <input type="text" name="last-name" placeholder="Company Name">
  </div> 





<div class="three fields">

 <div class="ten wide  field">
      <label>Company Type</label>
      <div class="fields">
        <div class="fifteen wide  field field">
          <select class="ui fluid search dropdown">
          <option value="">Company Type 1</option>
            <option value="1">Company Type 2</option>
            <option value="2">Company Type 3</option>
          </select>
        </div>
	</div>
</div>
 <div class="ten wide  field">
      <label>Product Type</label>
      <div class="fields">
        <div class="fifteen wide  field field">
          <select class="ui fluid search dropdown">
          <option value="">Product Type 1</option>
            <option value="1">Product Type 2</option>
            <option value="2">Product Type 3</option>
          </select>
        </div>
	</div>
</div>




  <div class="field">
    <label>Establish year</label>
    <input type="number" name="last-name" min="1" placeholder="Year">
  </div>


</div>


<div class="two fields">
  
  <div class="field">
    <label>Primary Contact</label>
    <input type="text" name="last-name" placeholder="Contact">
  </div>

  <div class="field">
    <label>Email address</label>
    <input type="text" name="last-name" placeholder="Email">
  </div>

</div>



<div class="field">
    <label>Company web url</label>
    <input type="text" name="last-name" placeholder="Email">
  
</div>

<div class="field">
    <label>Company address</label>
    <textarea rows="2"></textarea>
 
</div>


<div class="field">
    <label>Requirements</label>
    <textarea rows="2"></textarea>
 
</div>


<div class="field">
    <label>Specialties</label>
   <textarea rows="2"></textarea>
 
</div>

<div class="field">
    <label>Description</label>
    <textarea rows="2"></textarea>
  
</div>




  








  <button class="ui button" type="submit">Create</button>
</form>


</div>
<br>