
 <div class="ui huge breadcrumb" style="margin-top:13vh; margin-left:20px;">
          <a class="section" href="home">Home</a>
          <i class="right chevron icon divider"></i>
          <a class="section" href="results">Results</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">Details</div>
  </div>
  <br>

<div class="ui grid" style="margin-top:10px; height:100vh">

	<div class="ui container segment">
		<img class="ui " src="http://www.cartoonaday.com/images/cartoons/2014/01/Caricature-steve-jobs-598x645.jpg" style="max-width: 300px;">
		<div class="hidden divider"></div>
		<div class="ui list">
			<div class="item">
				<h1 calss="header" style="color:#336699">IMIL, Inc.</h1>
			</div>
			<div class="item"  style="color:#336699">
				<strong>Contact: </strong>00-000-000
			</div>
			<div class="item"  style="color:#336699">
				<strong>Email: </strong>Brian.kang@imilinc.com
			</div>
			<div class="item"  style="color:#336699">
				<strong>Employee Count : </strong>5
			</div>
			<div class="item"  style="color:#336699">
				<strong>Description: </strong>
							<div class="ui  label"  style="color:#336699">
							
							  Development
							  
							</div>
							<div class="ui  label"  style="color:#336699">
							  
							  Designing
							 
							</div>
							<div class="ui  label"  style="color:#336699">
							  
							  Testing
							  
							</div>
			</div>
			<div class="item"  style="color:#336699">
				<strong>Requirements: </strong>5
			</div>

		</div>

	</div>
	<br>
</div>
<br>