
 <div class="ui huge breadcrumb breadcrumb-position">
          <a class="section" href="home">Home</a>
          <i class="right chevron icon divider"></i>
          <a class="section" href="results">Results</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">Details</div>
  </div>
  <br>
  <br>
  <br>
<div class="ui grid">

	<div class="ui container segment">
		<img class="ui " src="http://www.cartoonaday.com/images/cartoons/2014/01/Caricature-steve-jobs-598x645.jpg" class="company-logo">
		<div class="hidden divider"></div>
		<div class="ui list">
			<div class="item">
				<h1 calss="header base-color">IMIL, Inc.</h1>
			</div>
			<div class="item base-color">
				<strong>Contact: </strong>00-000-000
			</div>
			<div class="item base-color">
				<strong>Email: </strong>Brian.kang@imilinc.com
			</div>
			<div class="item base-color">
				<strong>Employee Count : </strong>5
			</div>
			<div class="item base-color">
				<strong>Description: </strong>
							<div class="ui  label base-color">
							
							  Development
							  
							</div>
							<div class="ui  label base-color">
							  
							  Designing
							 
							</div>
							<div class="ui  label base-color">
							  
							  Testing
							  
							</div>
			</div>
			<div class="item base-color">
				<strong>Requirements: </strong>5
			</div>

		</div>

	</div>
	<br>
</div>
<br>
<br>
<br>
<br>