<div style="margin-top:25vh">

	<div class="ui container segment">
		<img class="ui image" src="http://www.cartoonaday.com/images/cartoons/2014/01/Caricature-steve-jobs-598x645.jpg" >
		<div class="hidden divider"></div>
		<div class="ui list">
			<div class="item">
				<h1 calss="header">IMIL, Inc.</h1>
			</div>
			<div class="item">
				<strong>Contact: </strong>00-000-000
			</div>
			<div class="item">
				<strong>Email: </strong>Brian.kang@imilinc.com
			</div>
			<div class="item">
				<strong>Employee Count : </strong>5
			</div>
			<div class="item">
				<strong>Specialities: </strong>
				<div class="ui label">
					Develop new display market applications, and incorporate market demands into products
				</div>
			</div>
			<div class="item">
				<strong>Requirements: </strong>5
			</div>

		</div>

	</div>
	<br>
</div>
