<div class="" style=" margin-top: 25vh; display:flex; align-items:center">


<form class="ui form" style="width:60%; margin-left:20%;">
  <div class="field">
    <label>Username</label>
    <input type="text" name="last-name" placeholder="Username">
  </div> 
<div class="two fields">

  <div class="field">
    <label>First Name</label>
    <input type="text" name="first-name" placeholder="First Name">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="last-name" placeholder="Last Name">
  </div>

</div>


<div class="two fields">
  <div class="field">
    <label>Contact</label>
    <input type="text" name="last-name" placeholder="Contact">
  </div>

  <div class="field">
    <label>Email</label>
    <input type="text" name="last-name" placeholder="Email">
  </div>
</div>
<div class="three fields">
  <div class="field">
    <label>Company Name</label>
   
    <div class="ui action input">
  <input type="text" placeholder="Company Name">
  <button class="ui icon button" {{action "getCompanyForm"}} style="background:#2c3e50!important;     border-radius: 100%;">
    <i class="plus icon"></i>
  </button>
</div>












   
  </div>
  <div class="field">
    <label>Job Title</label>
    <input type="text" name="last-name" placeholder="Jobtitle">
  </div>
  <div class="field">
    <label>Years of Experience</label>
    <input type="number" name="last-name" min="1" placeholder="Years of Experience">
  </div>
 </div>
  <div class="field">
    <label>Summary</label>
    <input type="text" name="last-name" placeholder="Summary">
  </div>


  <button class="ui button" type="submit">Submit</button>
</form>


</div>
<br>