








<div id="home">


<div class="ui grid">
  <div class="one wide column"></div>
  <div class="fourteen wide column">


<form class="ui form" style="width:60%; margin-left:20%; margin-top:20vh;">
<br><br>
<div class="ui  column grid">
  <div class="column">
    <div class="ui fluid image">
      <div class="ui black ribbon label">
        <i class="user icon"></i> Profile
      </div>
    </div>
  </div>
</div>  
<br><br>
 <div class="field">
    <label>Profile Picture</label>
    <input type="file" name="profile" placeholder="Username">
  </div> 

  <div class="field ">
    <label>Username</label>
    <input type="text" name="username" placeholder="Username">
  </div> 
<div class="two fields">

  <div class="field ">
    <label>First Name</label>
    <input type="text" name="fname" placeholder="First Name">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="lname" placeholder="Last Name">
  </div>

</div>


<div class="two fields">
  <div class="field">
    <label>Contact</label>
    <input type="number" name="contact" placeholder="Contact">
  </div>

  <div class="field">
    <label>Email</label>
    <input type="email" name="email" placeholder="Email">
  </div>
</div>
<div class="three fields">
  <div class="field">
    <label>Company Name</label>
   
    <div class="ui action input">
  <input type="text" name="cname" placeholder="Company Name">
  <button class="ui icon button" {{action "getCompanyForm"}} style="background:#2c3e50!important;     border-radius: 100%;">
    <i class="plus icon"></i>
  </button>
</div>

  </div>
  <div class="field">
    <label>Job Title</label>
    <input type="text" name="jobtitle" placeholder="Jobtitle">
  </div>
  <div class="field">
    <label>Years of Experience</label>
    <input type="number" name="expereince" min="1" placeholder="Years of Experience">
  </div>
 </div>
  <div class="field">
    <label>Summary</label>
    <input type="text" name="summary" placeholder="Summary">
  </div>

 <button class="ui button submit-button"  type="submit">Submit</button>
    <div class="ui error message">
  </div>




</form>





















  </div>
   <div class="one wide column"></div>
</div>
     



</div>







