


 <div class="ui huge breadcrumb breadcrumb-position" >
          <a class="section" href="home">Home</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">Edit Profile</div>
  </div>
<br>
<br>
<div class="full-height">
<div class="ui grid">


  <div class="three wide column">

    <div class="ui vertical pointing menu attached pointing-menu-style">
     
      <a class="active item" data-tab="first">Profile</a>
      <a class="item" data-tab="second">Company</a>
      
    </div>

  </div>


  <div class="twelve wide column">



    <div class="ui  attached active tab edit-form" data-tab="first">
      
    <div class="ui grid">
      <div class="twelve wide column">
            <form class="ui form profile">
             <div class="two fields"> 
              
               <div class="field ">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" class="base-input-border">
              </div> 

              <div class="field ">
                <label>Name</label>
                <input type="text" name="fname" placeholder="Name"  class="base-input-border">
              </div>
            

             
            </div>
            <div class="two fields"> 
              <div class="field">
                  <label>Contact</label>
                  <input type="number" name="contact" placeholder="Contact"  class="base-input-border">
              </div>

               <div class="field">
                <label>Email</label>
                <input type="email" name="email" placeholder="Email"  class="base-input-border">
              </div>

            
            </div>
            <div class="two fields"> 
              <div class="field">
                <label>Job Title</label>
                <input type="text" name="jobtitle" placeholder="Jobtitle"  class="base-input-border">
              </div>

              <div class="field ">
              <label>Experience in yrs</label>
                 <select class="ui dropdown base-input-border">
                  <option value="">Select year</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  
                </select>
                </div> 

                     
               </div>
               
           
                <div class="field">
                  <label>Summary</label>
                  <textarea rows="4" name="summary" placeholder="Summary..."  class="base-input-border"></textarea>
                </div>
           
                <button class="ui button submit-button"  type="submit">Save</button>
        
          </form>
        </div>
        <div class="four wide column align-center">
          

            <img class="upload-pic" src="assets/upload.png">
            <br>
            <br>
            <button class="ui button upload-button"  type="submit">Upload New Picture</button>
            <input type="file" class="file-input-style">
        </div>
      </div>
    </div>
 








    <div class="ui  attached tab edit-form" data-tab="second" >
    
    <div class="ui grid">
      <div class="twelve wide column">    
        <form class="ui form company">

        <div class="two fields">
            <div class="field ">
              <label>Company Name</label>
              <input type="text" name="cname" placeholder="Company Name"  class="base-input-border">
            </div>
            

            <div class="field">
              <label>URL</label>
              <input type="email" name="url" placeholder="URL" class="base-input-border">
            </div>

        </div>
        <div class="three fields">
            <div class="field">
            <label>Company Type</label>
            <div class="ui fluid multiple search selection dropdown base-input-border" >
                  <input type="hidden" name="ctype">
                  <i class="dropdown icon" ></i>
                  <div class="default text black-text">Company Type</div>
                      <div class="menu">
                      <div class="item" data-value="c1">Manufacturer</div>
                       <div class="item" data-value="c2">Electronics</div>
                        <div class="item" data-value="c3">Other</div>
                      </div>
                   </div>
             </div>

            <div class="field">
            <label>Product Type</label>
            <div class="ui fluid multiple search selection dropdown base-input-border" >
                  <input type="hidden" name="ptype">
                  <i class="dropdown icon" ></i>
                  <div class="default text black-text">Product Type</div>
                      <div class="menu">
                      <div class="item" data-value="c1">Software</div>
                       <div class="item" data-value="c2">Hardware</div>
                        <div class="item" data-value="c3">Other</div>
                      </div>
                   </div>
             </div>
         

            <div class="field ">
              <label>Established Year</label>
                 <select class="ui dropdown base-input-border">
                  <option value="">Select year</option>
                  <option value="1">2001</option>
                  <option value="2">2002</option>
                  <option value="3">2003</option>
                  
                </select>
                </div> 

                     
            </div>

         


          <div class="two fields">
           
            <div class="field">
              <label>Primary Contact</label>
              <input type="number" name="ccontact" min="1" placeholder="Primary Contact" class="base-input-border">
            </div>

            <div class="field">
              <label>Company Email</label>
              <input type="email" name="cemail" min="1" placeholder="Company Email" class="base-input-border">
            </div>

          </div>
           
            <div class="field">
              <label>Specialities</label>
                <div class="ui fluid multiple search selection dropdown base-input-border" >
                  <input type="hidden" name="ptype">
                  <i class="dropdown icon" ></i>
                  <div class="default text black-text">Specialities</div>
                      <div class="menu">
                      <div class="item" data-value="c1">Business Specific</div>
                       <div class="item" data-value="c2">Education</div>
                        <div class="item" data-value="c3">Finance</div>
                        <div class="item" data-value="c4">Healthcare</div>
                        <div class="item" data-value="c5">Occupation</div>
                        <div class="item" data-value="c6">Online Activities</div>

                      </div>
                   </div>
             </div>
              
        

             <div class="field">
              <label>Description</label>
              <textarea rows="2" name="description" placeholder="Description..." class="base-input-border"></textarea>
            </div>
           
           <button class="ui button submit-button"  type="submit">Save</button>
 
      </form>

      </div>
        <div class="four wide column align-center">
          

            <img class="upload-pic" src="assets/upload.png">
            <br>
            <br>
            <button class="ui button upload-button" type="submit">Upload Company Logo</button>
            <input type="file" class="file-input-style">
        </div>
      </div>




  </div>



    
  </div>


</div>
</div>