







<div id="home">





<div style="margin-top:30vh">
       <center><a class="heading-text">
                Workype
              </a></center>
       <br><br><br><br>
      <div class="ui grid" >
       
        <div class="sixteen wide column">



       <center>



            <div class="ui right fuild  labeled input action" style="width:60%;">
             
              <div class="ui dropdown label" style="background:white; border:1px solid #c7c7c7;">
                <div class="text">Category</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">Bussiness Developer</div>
                  <div class="item">Manufacturer</div>
                  <div class="item">Suplier</div>
                </div>
              </div>

               <input type="text" placeholder="Find domain" style=" border:1px solid #c7c7c7;">
               <div class="ui button" {{action "getResults"}} style="background:#4d7fb1; color:white;">&nbsp;Go! &nbsp;&nbsp;</div>
            </div>

       </center>






        </div>
        </div>
   
</div>
     



</div>











