







<div id="home">







<div class="ui grid" style="margin-top:50vh">
  <div class="one wide column"></div>
  <div class="fourteen wide column">



        <center>
        <div class="ui massive action input" style="max-width:100%; min-width:80%;">
          <input type="text" placeholder="Search companies hear...">
          <div class="ui button" {{action "getResults"}}>Search</div>
        </div>
         
        </center>

  </div>
   <div class="one wide column"></div>
</div>
     



</div>











