







<div id="home">







<div class="ui grid" style="margin-top:50vh">
  <div class="one wide column"></div>
  <div class="fourteen wide column">


        <center>
          <div class="ui icon massive input" style="max-width:80%; ">
            <input type="text" placeholder="Search...">
            <i class="inverted circular search link icon"  {{action "getResults"}}></i>
          </div>
        </center>

  </div>
   <div class="one wide column"></div>
</div>
     



</div>













