









<div class="base-page">
  <br>
  <br>
  <br>
      <center>
        <a class="heading-text">
                Workype
        </a>
      </center>
       
      <br><br><br><br>



      <div class="ui grid" >
       
        <div class="sixteen wide column">



           <center>



                <div class="ui right fuild  labeled input action search-home">
                 
                  <div class="ui dropdown label">
                    <div class="text search-dropdown">Category</div>
                    <i class="dropdown icon base-icon-size"></i>
                    <div class="menu">
                      <div class="item medfont">Bussiness Developer</div>
                      <div class="item medfont">Manufacturer</div>
                      <div class="item medfont">Suplier</div>
                    </div>
                  </div>

                   <input type="text" placeholder="Search Company..." >
                   <div class="ui button button-primary" {{action "getResults"}}>&nbsp;Go! &nbsp;&nbsp;</div>
                </div>

           </center>

      </div>
    </div>
  </div>












