







<div id="home">







<div class="ui grid">
  <div class="one wide column"></div>
  <div class="fourteen wide column">


        <center>
          <div class="ui icon massive input" style="width:40%; ">
            <input type="text" placeholder="Search...">
            <i class="inverted circular search link icon"  {{action "getResults"}}></i>
          </div>
        </center>

  </div>
   <div class="one wide column"></div>
</div>
     



</div>
<div id="bottom-bar">
  <div class="cpyrt"> Copyright © Your Website 2016 </div>
</div>












