







<div id="home">







<div class="ui grid" style="margin-top:20vh;">
  
  <div class="eight wide column" >


  <div class="" style=" width:50%; margin-left:25%;">
          <div style="font-size: 28px; font-weight:bolder; color:#4d7fb1 !important"> How it works ?</div>
          <br>
            <p style="text-align:justify; color:#4d7fb1;">
              Workype provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.

        			Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.

        			Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
            </p>

    </div>
  </div>
 
 
<div class="eight wide column" style="border-left:3px solid #c7c7c7">


   <div style="width:80%;margin-left:10%;">
          
         
        

         
             
                    <form class="ui form signup" method="GET" action="http://localhost:4200/home" style="border-top-left-radius:6px; border-top-right-radius:6px; border: 1px solid #e4e4e4;">
                        

                        <div class="" style="height:50px; background:#f1f1f1; font-size:18px; border-top-left-radius:6px; border-top-right-radius:6px; border: 1px solid #e4e4e4;text-align:center;">
                          
                          <h3 style=" color:#4d7fb1; margin:10px;">Create new account</h3>

                        </div>
                        <div class="ui stacked segment" style="border:none;" >
                         
                        <div class="fields two">
                          <div class="field">
                          <div class="ui labeled input">
                            <div class="ui label">
                               <i class="mail outline icon" style="font-size:20px"></i>
                            </div>
                             <input type="text" name="email" placeholder="E-mail">
                          </div>
                           
                          </div>
                           <div class="field">
                          <div class="ui labeled input" >
                            <div class="ui label" style="font-size:20px">
                              <i class="user icon" style="color:black"></i>
                            </div>
                            <input type="text" name="uname" placeholder="Username">
                          </div>
                           
                          </div>
                        </div>
                         <div class="field">
                         <div class="ui labeled input">
                            <div class="ui label">
                              <i class="user icon" style="color:black; font-size:20px"></i>
                            </div>
                           <input type="text" name="email" placeholder="Fullname">
                          </div>
                           
                          </div>

                         <div class="fields two">
                          <div class="field">
                          <div class="ui labeled input">
                            <div class="ui label">
                               <i class="asterisk icon" style="font-size:20px"></i>
                            </div>
                             <input type="password" name="password" placeholder="Password">
                          </div>
                           
                          </div>
                           <div class="field">
                          <div class="ui labeled input">
                            <div class="ui label">
                              <i class="asterisk icon" style="font-size:20px"></i>
                            </div>
                            <input type="password" name="cpassword" placeholder="Confirm  Password">
                          </div>
                           
                          </div>
                        </div>


                        
                       
                          <div class="ui button large  submit " {{action "afterSignup"}} style=" background:#4d7fb1; width:35%; margin-left:5%;  color:white;">Sign Up</div>
                          <div class="ui button   large  submit " {{action "afterSignup"}} style="    background:white;border:1px solid grey; width:35%; margin-left:20%; " {{action "cancelSignUp"}}>Cancel</div>
                        </div>
                        
                      </form>
           



  </div>
  </div>
  
</div>


</div>












