







<div class="base-page">







<div class="ui grid">
  
  <div class="eight wide column" >


  <div class="col-80 col-offset-5" >
          <div class="heading base-color"> How it works ?</div>
          <br>
          <div class="base-color">
          <p>
              Workype provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
         </p>
         <p>
              Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.

            
         </p>
         <p>
              Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with adsditional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
         </p>
         </div>


    </div>
  </div>
 
 
<div class="eight wide column right: meenu left-divide" >      
         
        

         
             
                    <form class="ui form signup right signupform" method="GET" action="http://localhost:4200/home">
                        

                        <div class="formtitle" >
                          
                          <h2 class="base-color full-width">Create New Account</h2>

                        </div>
                        <div class="ui stacked segment base-background border-none" >
                         
                         <div class="fields two">
                          
                           
                             <div class="field">
                               <div class="ui labeled input">
                                  <div class="ui label">
                                    <i class="user icon base-color"></i>
                                  </div>
                                 <input type="text" name="uname" placeholder="Username">
                                </div>
                             </div>

                              <div class="field">
                               <div class="ui labeled input">
                                  <div class="ui label">
                                    <i class="user icon base-color"></i>
                                  </div>
                                 <input type="text" name="fname" placeholder="Fullname">
                                </div>
                             </div>

                        </div>


                     
                        <div class="fields two">

                        <div class="field">
                            
                            <div class="ui labeled input">
                              <div class="ui label">
                                 <i class="mail  icon base-color"></i>
                              </div>
                               <input type="text" name="email" placeholder="E-mail">
                            </div>
                           
                        </div>
                          <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                 <i class="asterisk icon base-color"></i>
                              </div>
                               <input type="password" name="password" placeholder="Password">
                            </div>
                          </div>
                         
                        </div>
                          <br>
                        <div class="fields two">
                          <div class="field align-right">
                          
                              <div class="ui button large  submit button-primary " {{action "afterSignup"}} >Sign Up</div>
                          
                          </div>
                          <div class="field">
                              <div class="ui labeled input">
                                  <div class="ui button   large  submit button-secondary" {{action "afterSignup"}}  {{action "cancelSignUp"}}>Cancel</div>
                                  </div>
                              </div>
                            </div>
                        </div>
                       </form> 
                       
                          
                       
                        
      
           



  </div>
  </div>
  



</div>












