<div >

<div style="margin-top:20vh; " >
 

  <div class="column" style="width:200px">



    <div class="ui segment" style="width:200px; ">
  
  <div class="ui top attached label  filter-header">Filter</div>
    <br><br>
    

      <a class="ui orange right ribbon label filter-ribbon">Company Type</a>
       
      <br> 
      <div class="filter-section">
		       <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Software</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Hardware</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Photography</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Other</label>
			   </div>
	   </div>

      <a class="ui teal right ribbon label filter-ribbon" >Product Type</a>
     
     <br>

            <div class="filter-section">
		       <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Software</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Hardware</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Photography</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Other</label>
			   </div>
	   		</div>

    

    <a class="ui orange right ribbon label filter-ribbon">State</a>

    	      <div class="filter-section">
		       <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Software</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Hardware</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Photography</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Other</label>
			   </div>
	   		</div>

    <a class="ui teal right ribbon label filter-ribbon">City</a>

    	      <div class="filter-section">
		       <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Software</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Hardware</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Photography</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Other</label>
			   </div>
	  		 </div>

 	<a class="ui orange right ribbon label ">Country</a>

 	      <div class="filter-section">
		       <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Software</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Hardware</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Photography</label>
			   </div>
			   <div class="ui checked checkbox">
				  <input type="checkbox" checked="">
				  <label>Other</label>
			   </div>
	 		  </div>
  </div>



</div>






</div>



</div>


<div id="bottom-bar">
  <div class="cpyrt"> Copyright © Your Website 2016 </div>
</div>