<div style="margin-top:10vh; height:100vh">

<br>
	<div class="container" >
	 <div class="item filter-section">
        <div class="ui huge breadcrumb">
          <a class="section">{{#link-to 'home'}}Home{{/link-to}}</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">Search Results</div>
        </div>
      </div>

<br>
<br>
<br>
<div class="ui grid" style="height:80vh">




<div class="column two wide" style="border-right:1px solid #c7c7c7; border-bottom:1px solid #c7c7c7">
	<div class="filter-section" style="border-bottom:3px solid #c7c7c7">
		<h3>Company</h3>
		<div class="ui list">
		<div class="item">
			<div class="ui checked checkbox">
			  <input type="checkbox" checked="">
			  <label>Manufacturer</label>
			</div>
		</div>
		<div class="item">
			<div class="ui checked checkbox">
			  <input type="checkbox" checked="">
			  <label>Suplier</label>
			</div>
		</div>
		<div class="item">
			<div class="ui checked checkbox">
			  <input type="checkbox" checked="">
			  <label>Buyer</label>
			</div>
		 </div>   
		</div>
		<br>
	</div>

	<div class="filter-section" style="border-bottom:3px solid #c7c7c7">
		<h3>Country</h3>
		<div class="ui list">
		<div class="item">
			<div class="ui checked checkbox">
			  <input type="checkbox" checked="">
			  <label>India</label>
			</div>
		</div>
		<div class="item">
			<div class="ui checked checkbox">
			  <input type="checkbox" checked="">
			  <label>USA</label>
			</div>
		</div>
		<div class="item">
			<div class="ui checked checkbox">
			  <input type="checkbox" checked="">
			  <label>Russia</label>
			</div>
		 </div>   
		</div>
		<br>
	</div>

	<div class="filter-section">
		<h3>State</h3>
		<div class="ui list">
		<div class="item">
			<div class="ui checked checkbox">
			  <input type="checkbox" checked="">
			  <label>Pune</label>
			</div>
		</div>
		<div class="item">
			<div class="ui checked checkbox">
			  <input type="checkbox" checked="">
			  <label>California</label>
			</div>
		</div>
		<div class="item">
			<div class="ui checked checkbox">
			  <input type="checkbox" checked="">
			  <label>San Jose</label>
			</div>
		 </div>   
		</div>
	</div>

</div>

  

<div class="column fourteen wide" style="border-bottom:1px solid #c7c7c7">
		<div class="ui  container" style="border-bottom:3px solid #c7c7c7">
		<div class="item " >
				<strong>Filters:&nbsp; </strong>
							<div class="ui  label"  style="">
							
							  Manufacturer
							  
							</div>
							<div class="ui  label"  style="">
							  
							  India
							 
							</div>
							<div class="ui  label"  style="">
							  
							  Pune
							  
							</div>
			</div>
			<br>
		</div>

		<div class="ui items container" style="border:3px solid #b7b5b5">
		
			<div class="item">
				<div class="ui item small image">
					<img src="http://www.cartoonaday.com/images/cartoons/2014/01/Caricature-steve-jobs-598x645.jpg">
				</div>
				<div class="content">
				<br>
					<div class="header">
						{{#link-to 'details'}}<a class="ember-view" style="color:#336699!important"> IMIL, Inc.</a>{{/link-to}}
					</div>
					<br>
					<br>
					<div class="meta">
					
						<div class="description">
							<p>
								<strong>Requirements: </strong>
								Looking for suplier
							</p>
						</div>
						
						<div class="extra" >
							<div class="ui  label" >
							
							  Manufacturer
							  
							</div>
							<div class="ui  label">
							  
							  Electronics
							 
							</div>
						</div>

					</div>

				</div>

			</div>
			
		</div>

	</div>
</div>

</div>



</div>


